.footer {
	overflow: hidden;
	display: block;
	overflow: hidden;

	@include respond-to(phone) {
		padding: 0 20px;
	}

	a:hover {
		color: #000;
	}

	p {
		float: left;
		font: 12px arial;
		color: #333;

		@include respond-to(phone) {
			font: 11px arial;
		}
	}
}