/* Gallery Strip for lists of Galleries  */
.gallery-strip-wrapper {
	box-sizing: border-box;
	position: relative;
	margin: 15px 15px 30px 15px;
	cursor: pointer;

	@include respond-to(phone) {
		margin: 10px auto;
	}
}

.gallery-strip {
	box-sizing: border-box;
	border: 1px solid #eee;
	overflow: hidden;

	li {
		box-sizing: border-box;
		width: 25%;
		max-width: 170px;
		float: left;
		padding: 10px;
		position: relative;

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
}

#content .galleries {
	max-width: 882px;
	margin: 0 auto;
}