.post-narrow {
	float: left;
	width: 300px;
	text-align: center;

	.post-date {
		font: 18px/24px typey;
		margin: 10px 0;
	}

	.tape {
		margin: 0 auto;
	}

	@include respond-to(phone) {
		float: none;
		width: auto;
		text-align: left;
		overflow: hidden;
		padding: 20px;

		.post-date {
			float: left;
			margin: 0;
		}

		.comments-link {
			float: right;
		}
	}
}

.post-wide {
	float: left;
	width: 850px;
	box-sizing: border-box;

	@include respond-to(phone) {
		float: none;
		width: auto;
		padding: 0 20px;
	}

	#content & .entry-title {
		font: 28px/32px 'typey', courier;
		margin-bottom: 24px;

		a {
			color: #444;

			&:hover {
				color: #000;
			}
		}
	}

	p {
		font: 16px/24px sans-serif;
		color: #444;
	}

	strong {
		font-weight: bold;
	}

	.type-gallery & p {
		margin: 0 15px 20px;
	}
}