/* lyrics */

.lyrics {
	display: block;
	font: 32px/36px 'Reenie Beanie';
	color: #ddd;

	@include respond-to(phone) {
		font: 28px/32px 'Reenie Beanie';
		padding: 0 20px;
	}

	span {
		text-decoration: line-through;
	}

	.post-type-archive-gallery #content & {
		display: block;
		margin: 20px 0;

		@include respond-to(phone) {
			display: none;
		}
	}

	.page-template-shows-php #content & {
		position: absolute;
		top: 10px;
		left: 200px;

		@include respond-to(phone) {
			display: none;
		}
	}

	.page-template-media-php #content & {
		position: absolute;
		width: 380px;
		width: 275px;
		top: 10px;
		right: 0;
		font: 28px/32px 'Reenie Beanie';

		@include respond-to(phone) {
			display: none;
		}
	}

	.page-template-bio-php #content & {
		position: absolute;
		width: 600px;
		top: 10px;
		right: 40px;

		@include respond-to(phone) {
			display: none;
		}
	}

	.page-template-contact-php #content & {
		position: absolute;
		width: 400px;
		top: 0;
		right: 20px;
		line-height: 32px;

		@include respond-to(phone) {
			display: none;
		}
	}
}