.main-nav {
	margin: 24px auto;
	overflow: hidden;
	display: block;
	max-width: 900px;

	@include respond-to(phone) {
		margin: 10px auto 0;
	}

	li {
		&::before {
			content: '[';
		}

		&::after {
			content: ']';
		}

		display: inline-block;
		font: 32px/36px 'typey', courier;
		margin: 0 1% 0 0;
		text-align: center;
		color: #666;

		@include respond-to(phone) {
			width: auto;
			margin: 0 5%;
		}
	}

	a {

		&:hover {
			text-decoration: underline
		}
	}

	.on {
		font-weight: bold;
		text-decoration: underline;
		padding: 0 5px;
		color: #000;
	}
}