#nav-above {
	margin: 0 0 48px;

	@include respond-to(phone) {
		margin: 0 0 20px;
	}
}

#nav-below {
	margin: 0 0 20px;

	@include respond-to(phone) {
		margin: 0;
	}
}

.navigation {
	font: 20px/24px 'typey', courier;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 20px 0;

	.single & {
		margin: 0 0 20px;
	}

	@include respond-to(phone) {

		.meta-offset {
			display: none;
		}
	}

	a:link,
	a:visited {
		color: #ff4b33;
		text-decoration: none;
	}
}

.page-template-shows-php .nav-previous {
	width: 100%;
}