
.single-song #content .entry-content p {
	font: 32px/36px 'Reenie Beanie';
	margin-bottom: 30px;
}

.wp-audio-shortcode {
	width: 700px !important;
	max-width: 100%;
	margin: 24px 0;
}

audio {
	width: 700px !important;
	max-width: 100%;
	display: inline-block;
}